<%= bootstrap_form_for [@topic,@question] do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.text_field :title %>
  <%= f.select :kind, @question_types, { label: "Question Type" }, { class: "selectpicker" } %>

  <%= f.fields_for :choices do |choice| %>
      <%= render 'choice_fields', :f => choice %>
      <div class="links hidden">
        <%= link_to_add_association 'add choice', f, :choices %>
      </div>
  <% end %>



  <%= f.submit %>
<% end %>
