<script>
  var question_id = "<%= j @question.id.to_s %>";
</script>

<div class="screen">

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="content">
          <div class="jumbotron">
            <h1 class="text-center"><%= @question.title %></h1>
            <h4 class="text-center"><%= @tinyURL %></h4>
          </div>
        </div><!-- end header -->
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10">
      <%= render 'questions/partials/sections' %>
    </div>

    <div class="col-md-2">
      <button id="startVote" class="btn btn-sm btn-primary" type="button">Start Voting</button>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="content">
            <%= link_to 'Answer', topic_question_answers_path(@topic, @question, @answer), class: 'btn btn-primary' %>
            <%= link_to 'Back', @topic, class: 'btn btn-default' %>
        </div>
      </div>
    </div>
  </div>

</div><!-- end screen -->
