<div class="row">
  <%= link_to 'Back', @topic %>
</div>

<div class="jumbotron">
  <h1><%= @question.title %></h1>
</div>

<% if @answers.any? %>
  <div class="jumbotron">
    <% @answers.each do |answer| %>
      <p><%= answer.value %> <span><%= time_ago_in_words(answer.created_at) %> ago</span></p>
    <% end %>
  </div>
<% else %>
  <div class="row">
    <h3>No answers. please share the answers link to students</h3>
  </div>
<% end %>

<div class="row">
  <% @question.choices.each do |c| %>
    <div class="col-md-4">
      <button class="btn btn-default btn-lg btn-block" type="button" name="button"><%= c.title %></button>
    </div>
  <% end %>
</div>

<%= link_to 'Answer', topic_question_answers_path(@topic, @question, @answer) %>
