<script>
  var question_id = "<%= j @question.id.to_s %>";
</script>

<div class="screen">

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="content">
          <div class="jumbotron">
            <h1 class="text-center"><%= @question.title %></h1>
            <h4 class="text-center"><%= @tinyURL %></h4>
          </div>
        </div><!-- end header -->
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="header">
          <h4 class="title">Student Engagement Rate</h4>
          <p class="category">Activity based on student responses vs the numbers of visits</p>
        </div>
        <div class="content">
          <div class="row">
            <div class="col-md-8">
              <%= pie_chart test_path(@question)%>
            </div>
            <div class="col-md-4">
              <div class="jumbotron">
                <h2 class="text-center"><%= @rate %></h2>
                <h4 class="text-center"><%= @question.engagement_rate %>%</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <%= render 'questions/partials/sections' %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="content">
            <%= link_to 'Answer', topic_question_answers_path(@topic, @question, @answer), class: 'btn btn-primary' %>
            <%= link_to 'Back', @topic, class: 'btn btn-default' %>
        </div>
      </div>
    </div>
  </div>

</div><!-- end screen -->
