<script>
  var question_id = "<%= j @question.id.to_s %>";
</script>

<div class="screen">

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="content">
          <div class="jumbotron">
            <h1 class="text-center"><%= @question.title %></h1>
            <h4 class="text-center"><%= @tinyURL %></h4>
          </div>
        </div><!-- end header -->
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="header">
          <h4 class="title">Favourite Devices</h4>
          <p class="category">Devices used by the participants of this poll</p>
        </div>
        <div class="content">
          <%= pie_chart Visit.group(:device_type).count%>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="header">
          <h4 class="title">Popular Browsers</h4>
          <p class="category">Browsers used by the participants of this poll</p>
        </div>
        <div class="content">
          <%= pie_chart Visit.group(:browser).count %>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="header">
          <h4 class="title">Popular Browsers</h4>
          <p class="category">Browsers used by the participants of this poll</p>
        </div>
        <div class="content">
          <%= bar_chart connected_students: Visit.group_by_hour(:started_at).count, answers_received: @answers.count%>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <%= render 'questions/partials/sections' %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="content">
            <%= link_to 'Answer', topic_question_answers_path(@topic, @question, @answer), class: 'btn btn-primary' %>
            <%= link_to 'Back', @topic, class: 'btn btn-default' %>
        </div>
      </div>
    </div>
  </div>

</div><!-- end screen -->
