<!DOCTYPE html>
<html>
<head>
  <title>ClassroomClicker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="wrapper" class="">
  <%= render 'nav' %>

  <!-- Page Content -->
  <div id="page-content-wrapper">
      <div class="container-fluid">
          <div class="row">
              <div class="col-lg-12">
                <p class="notice"><%= notice %></p>
                <p class="alert"><%= alert %></p>
                  <%= yield %>
                  <!--<a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>-->
              </div>
          </div>
      </div>
  </div>
  <!-- /#page-content-wrapper -->


</body>
</html>
